@-webkit-keyframes glitch {
  2%, 64% {
    -webkit-transform: scale(1.15) translate(2px, 0) skew(0deg);
            transform: scale(1.15) translate(2px, 0) skew(0deg);
  }
  4%, 60% {
    -webkit-transform: scale(1.15) translate(-2px, 0) skew(0deg);
            transform: scale(1.15) translate(-2px, 0) skew(0deg);
  }
  62% {
    -webkit-transform: scale(1.15) translate(0, 0) skew(5deg);
            transform: scale(1.15) translate(0, 0) skew(5deg);
  }
}

@keyframes glitch {
  2%, 64% {
    -webkit-transform: scale(1.15) translate(2px, 0) skew(0deg);
            transform: scale(1.15) translate(2px, 0) skew(0deg);
  }
  4%, 60% {
    -webkit-transform: scale(1.15) translate(-2px, 0) skew(0deg);
            transform: scale(1.15) translate(-2px, 0) skew(0deg);
  }
  62% {
    -webkit-transform: scale(1.15) translate(0, 0) skew(5deg);
            transform: scale(1.15) translate(0, 0) skew(5deg);
  }
}

@-webkit-keyframes glitchTop {
  2%, 64% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  4%, 60% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  62% {
    -webkit-transform: translate(13px, -1px) skew(-13deg);
            transform: translate(13px, -1px) skew(-13deg);
  }
}

@keyframes glitchTop {
  2%, 64% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  4%, 60% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  62% {
    -webkit-transform: translate(13px, -1px) skew(-13deg);
            transform: translate(13px, -1px) skew(-13deg);
  }
}

@-webkit-keyframes glitchBotom {
  2%, 64% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  4%, 60% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  62% {
    -webkit-transform: translate(-22px, 7px) skew(21deg);
            transform: translate(-22px, 7px) skew(21deg);
  }
}

@keyframes glitchBotom {
  2%, 64% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  4%, 60% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  62% {
    -webkit-transform: translate(-22px, 7px) skew(21deg);
            transform: translate(-22px, 7px) skew(21deg);
  }
}

@-webkit-keyframes colorPulse {
  0%, 100% {
    opacity: 1;
  }
  48%, 52% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
}

@keyframes colorPulse {
  0%, 100% {
    opacity: 1;
  }
  48%, 52% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes wave {
  0% {
    -webkit-box-shadow: 0 -10vh 20vh #0c0;
            box-shadow: 0 -10vh 20vh #0c0;
    -webkit-transform: translateY(-500%);
            transform: translateY(-500%);
  }
  48%, 52% {
    -webkit-box-shadow: 0 -10vh 20vh #090;
            box-shadow: 0 -10vh 20vh #090;
  }
  50% {
    -webkit-box-shadow: 0 -10vh 20vh #060;
            box-shadow: 0 -10vh 20vh #060;
  }
  100% {
    -webkit-box-shadow: 0 -10vh 20vh #0c0;
            box-shadow: 0 -10vh 20vh #0c0;
    -webkit-transform: translateY(1400%);
            transform: translateY(1400%);
  }
}

@keyframes wave {
  0% {
    -webkit-box-shadow: 0 -10vh 20vh #0c0;
            box-shadow: 0 -10vh 20vh #0c0;
    -webkit-transform: translateY(-500%);
            transform: translateY(-500%);
  }
  48%, 52% {
    -webkit-box-shadow: 0 -10vh 20vh #090;
            box-shadow: 0 -10vh 20vh #090;
  }
  50% {
    -webkit-box-shadow: 0 -10vh 20vh #060;
            box-shadow: 0 -10vh 20vh #060;
  }
  100% {
    -webkit-box-shadow: 0 -10vh 20vh #0c0;
            box-shadow: 0 -10vh 20vh #0c0;
    -webkit-transform: translateY(1400%);
            transform: translateY(1400%);
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
/*# sourceMappingURL=keyframe.css.map */