@mixin scramble-layout {
    &::before {
        content: attr(data-before);
        word-break: break-all;
    }
    &::after {
        content: attr(data-after);
        word-break: break-all;
    }
}

@mixin topic-item-layout {
    z-index: 3;
    position: relative;
    color: #060;
    &::before{
        content:attr(data-content);
        position: absolute;
        top: 0;
        z-index: 4;
        color: #0c0;
        animation:colorPulse 5s infinite ease-in-out;
    }
}

@mixin topic-item-cursor {
    &::after{
        content:"_";
        animation:blink 1s infinite;
    }
}

@mixin glitch-layout($glitch-polygon) {
    opacity: 0;
    content: attr(title);
    position: absolute;
    left: 0;
    clip-path: polygon($glitch-polygon);
}