.container-section2 {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: 100%;
    align-items: center;

    .topic-menu {
        width: 25vw;
        height: 70%;
        &__section {
            margin-bottom: 14%;
            position: relative;
            .section{
                &__overground {
                    width: 100%;
                    height: 70px;
                    z-index: 1;
                    background-color: #0E397F;
                    transform-origin: top left;
                    transform: scaleX(0);
                }
                &__background {
                    width: 100%;
                    height: 70px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 2vw;
                    background-color: #ffa500;
                    transform-origin: top left;
                    transform: scaleX(0);
                    .background__router-link {
                        color: black;
                        text-decoration: none;
                        .link__title{
                            font-size: 3vw;
                            @include scramble-layout;
                        }
                        .glitch {
                            &:hover{
                                cursor: pointer;
                                transform: scale(1.15);
                                animation: glitch 1s linear infinite;
                                &::before{
                                    opacity: 1;
                                    animation: glitchTop 1s linear infinite;
                                }
                                &::after{
                                    opacity: 1;
                                    animation: glitchBotom 1.5s linear infinite;
                                }
                            }
                            &::before {
                                @include glitch-layout($glitch-polygon1);
                            }
                        
                            &::after {
                                @include glitch-layout($glitch-polygon2);
                            }
                        }
                    }            
                }
            }
        }
    }

    .topic-screen {
        position: relative;
        width: 50vw;
        height: 60%;
        padding: 2%;
        overflow:hidden;
        opacity: 0;
        font-size: 1.4vw;
        font-family:'Fira Mono', monospace;
        background-image:radial-gradient(#444, #111);
        
        &::before {
            content: "";
            z-index:1;
            height: 20%;
            position: absolute;
            left: 0;
            right: 0;
            opacity: .5;
            animation: wave 10s infinite ease-in-out;
        }
        
        &::after {
            z-index: 2;
            content: "";
            position:absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            background-size: 0.4vw 0.4vw;
            background-image: linear-gradient(transparent, transparent 3px, #222);
            pointer-events: none;
        }

        &__content0 {
            .content0--article {
                @include topic-text-layout();
            }

            .content0--footer {
                @include topic-text-layout();
                @include topic-item-cursor();
                text-align: right;
            }
        }

        &__content1 {
            .header__title {
                margin-top: 0%;
                font-size: 2.2vw;
                @include topic-text-layout();
            }
            .article__title {
                font-size: 1.9vw;
                @include topic-text-layout();
            }
            .article__list{
                padding-left: 10%;
                .list__item {
                    font-size: 1.6vw;
                    @include topic-text-layout();
                    &--cursor {
                        @include topic-item-cursor();
                    }
                }
            }
        }
        &__content2 {
            .header__title {
                margin-top: 0%;
                font-size: 3vw;
                text-align: center;
                @include topic-text-layout();
            }
            article {
                display: flex;
                justify-content: space-around;
                .article__list {
                    .list__item {
                        font-size: 2.5vw;
                        @include topic-text-layout();
                        &--cursor {
                            @include topic-item-cursor();
                        }
                    }
                }
            }
        }
        &__content3 {
            .header__title {
                margin-top: 0%;
                font-size: 1.9vw;
                text-align: center;
                @include topic-text-layout();
            }
            article {
                .article__content {
                    font-size: 1.3vw;
                    @include topic-text-layout();
                    .content__item--cursor {
                        @include topic-item-cursor();
                    }
                }
            }
        }

        &__content4{
            .header__title {
                margin-top: 0%;
                margin-bottom: 5%;
                font-size: 3vw;
                text-align: center;
                @include topic-text-layout();
            }
            .gallerie {
                display: flex;
                justify-content: space-around;
                &__item {
                    width: 32.5%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .item__title{
                        font-size: 2.2vw;
                        @include topic-text-layout();
                        &--cursor {
                            @include topic-item-cursor();
                        }
                    }
                }
            }
        }
    }
}