@import "./utils/variable.scss";
@import "./utils/keyframe.scss";
@import "./utils/mixin.scss";

@import "./base/base.scss";

@import "./sections/section2.scss";
@import "./sections/section4/slide1.scss";


.container-section1{
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    .home-logo{
        width: 50vw;
        height: auto;
        margin-bottom: 5vh;
        background-color: black;
        border: 1px solid red;
    }
    .home-article{
        width: 30vw;
        height: 17vh;
        margin-bottom: 5vh;
        text-align: center;
        border: 1px solid red;
        .text-container {
            height: 100%;
            display: none;
            border: 1px solid red;
            & > p {
                margin: 1% 0 1% 0;
                font-size: 1.4vw;
                &:last-child{
                    margin-top: 5%;
                }
            }
        }
        
        .typed-text-container{
            height: 100%;
            display: none;
            border: 1px solid red;
            & > p {
                margin: 1% 0 1% 0;
                font-size: 1.4vw;
                &:last-child{
                    margin-top: 5%;
                }
            }
        }
    }

    .arrow {
        border: none;
    }
}

.container1-section3 {
    height: 99vh;
    border: 1px solid red;
    .heading-title {
        width: 30vw;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 5%;
        text-align: center;
        border: 1px solid red;
    }
    .entreprise-description{
        width: 80vw;
        margin: auto;
        display: flex;
        justify-content: space-between;
        border: 1px solid red;
        .description{
            &__picture{
                width: 30vw;
                height: 50vh;
                background-color: black;
            }
            &__text{
                width: 30vw;
                height: 50vh;
                background-color: black;
            }
        }
    }
}

.container2-section3 {
    height: 99vh;
    border: 1px solid red;
    .heading-title {
        width: 30vw;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 2%;
        text-align: center;
        border: 1px solid red;
    }
    .project-description{
        width: 80vw;
        margin: auto;
        margin-bottom: 2%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid red;
        .description__picture{
            width: 27vw;
            height: 40vh;
            background-color: black;
        }
        .arrow {
            border: none;
        }
    }
    .description__text {
        width: 80vw;
        height: 30vh;
        margin: auto;
        background-color: black;
        border: 1px solid red;
    }
}